.projects-list {
    margin-inline: -8px;
}

.projects-list .cmp-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin-inline: auto;
    padding: 0;
    width: auto;
}

.projects-list .cmp-container>.adaptiveImage {
    margin-top: 32px;
    padding-inline: 8px;
    width: 50%;
}

.projects-list .cmp-container .cmp-image {
    height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}

.projects-list .cmp-container .cmp-image:before {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 14px 24px rgba(0, 0, 0, .06);
    content: "";
    display: block;
    inset: 0;
    position: absolute;
    transition: all .2s ease-out;
}

.projects-list .cmp-container .cmp-image>picture,
.projects-list .cmp-container .cmp-image__link {
    inset: 0;
    padding: 24px;
    position: absolute;
}

.projects-list+.button {
    .cmp-button {
        margin: 24px 0 0;
    }
}

@media only screen and (min-width: 1200px) {
    .projects-list {
        margin-inline: -16px;
    }

    .projects-list .cmp-container {
        margin-inline: auto;
        width: 75%;
    }

    .projects-list .cmp-container>.adaptiveImage {
        padding-inline: 16px;
        width: 33.3333333333%;
    }

    .projects-list .cmp-container .cmp-image:hover:before {
        box-shadow: 0 14px 24px 0 rgba(0, 0, 0, .1);
        inset: -8px;
    }

    .projects-list .cmp-container .cmp-image>picture,
    .projects-list .cmp-container .cmp-image__link {
        padding: 32px;
    }

    .projects-list+.button {
        .cmp-button {
            margin-top: 32px;
        }
    }

}