.hero {
    position: relative;
}

.hero .cmp-teaser {
    height: 100%;
    margin: 0 auto;
    max-width: 551px;
    position: relative;
}

.hero:not(.design-token--disabled) .cmp-teaser__content {
    color: #fff;
}

.hero .cmp-teaser__content {
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 24px 0 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
}

.hero .cmp-teaser__description,
.hero .cmp-teaser__title {
    margin-bottom: 12px;
}

.hero .cmp-teaser__image {
    aspect-ratio: .7496871089;
    bottom: 0;
    margin-left: -24px;
    max-width: calc(100% + 48px);
    position: relative;
    top: 0;
    width: min(100vw - var(--scrollWidth), 1440px);
}

.hero .cmp-teaser__image::after {
    content: "";
    inset: 0;
    position: absolute;
}

.hero .cmp-teaser__image .cmp-image {
    height: 100%;
}

.hero .cmp-teaser__image img {
    height: 100%;
    object-fit: cover;
}

@media only screen and (min-width: 1200px) {
    .hero .cmp-teaser {
        margin-left: calc((1120px - min(100vw - var(--scrollWidth), 1440px))/2);
        max-width: unset;
        width: min(100vw - var(--scrollWidth), 1440px);
    }

    .hero .cmp-teaser__content {
        align-items: center;
        margin: 0 calc(50% - 560px);
        width: 1120px;
    }

    .hero .cmp-teaser__content>* {
        width: 50%;
    }

    .hero .cmp-teaser__description,
    .hero .cmp-teaser__title {
        margin-bottom: 16px;
    }

    .hero .cmp-teaser__image {
        aspect-ratio: 2.3225806452;
        margin: 0;
        max-width: unset;
    }
}